<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <title>Choropleth</title>

  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <script src='https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet' />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">

  <style>
    #fema-disasters {
      width: 70%;
    }

    .fema-disasters-date-picker {
      font-family: Arial, Helvetica, sans-serif;
      height: 36px;
    }

    #fema-disasters-filters {
      display: flex;
    }

    h3 {
      font-size: 1em;
    }

    body {
      margin: 0;
      padding: 0;
    }

    h2,
    h3 {
      margin: 10px;
      font-size: 1.2em;
    }

    h3 {
      font-size: 1em;
    }

    p {
      font-size: 0.85em;
      margin: 10px;
      text-align: left;
    }
    /**
* Create a position for the map
* on the page */

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    /**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */

    .map-overlay {
      position: absolute;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.8);
      margin-right: 20px;
      font-family: Arial, sans-serif;
      overflow: auto;
      border-radius: 3px;
    }

    #features {
      top: 0;
      margin-top: 20px;
      height: 30%;
    }

    #legend {
      padding: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      line-height: 18px;
      height: 150px;
      margin-bottom: 40px;
      width: 100px;
    }

    .legend-key {
      display: inline-block;
      border-radius: 20%;
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
  </style>
</head>

<body>

  <div id='map'></div>
  <div class='map-overlay' id='features'>
    <div id="fema-disasters">
      <h1 class="title is-3" id="fema-disasters-header">Fema Disasters API Explorer</h1>
      <section id="fema-disasters-filters">
        <div class="select">
          <select name="disaster-type" id="fema-disasters-type-select">
            <option value="Flood">Flood</option>
            <option value="Tornado">Tornado</option>
            <option value="">None</option>
          </select>
        </div>
        <div id="start-date-field" class="field">
          <input type="date" id="start-date" class="fema-disasters-date-picker" name="Start Date">
        </div>
        <div id="end-date-field" class="field">
          <input type="date" id="end-date" class="fema-disasters-date-picker" name="End Date">
        </div>
        <button id="fema-disasters-filter-submit" class="button is-primary">Filter</button>
      </section>
    </div>
  </div>
  <div class='map-overlay' id='legend'></div>

  <script src="/../climate-disasters/us-states.js"></script>
  <script src="/../utils/views/states.util.js"></script>
  <script src="/../views/javascript/map.js"></script>

  <script>
    /*
     * manipulates the us-states.js data so that it can populate with how many disasters occured
     * disasters is bootstrapped from app local passed from the express route
     */
    let disasters = JSON.parse('<%- disasters %>').disasters;
    let states = statesData.features;

    function findStateIndex(stateName) {
      return states.findIndex(function (state) {
        return stateName === state.properties.name
      })
    }

    states.forEach(function (state) {
      // sets numOfDisasters for each variable to 0
      state.properties.numOfDisasters = 0
    })

    for (let i = 0; i < disasters.length; i++) {
      let currDisaster = disasters[i]
      let currDisasterState = abbrState(currDisaster.locationData.state, "name")
      let currDisasterType = currDisaster.disasterDescriptions.incidentType
      if (findStateIndex(currDisasterState) === -1) {
        continue;
      }
      let stateDataToBeAdded = states[findStateIndex(currDisasterState)]
      /*
        TODO: Add functionality to disastertype data on the map on hover
        // if (stateDataToBeAdded.properties[currDisasterType]) {
        //   stateDataToBeAdded.properties[currDisasterType]++;

        // } else {
        //   stateDataToBeAdded.properties[currDisasterType] = 1;
        // }
      */
      stateDataToBeAdded.properties.numOfDisasters++;
    }
  </script>

  <script type="text/javascript">
    var local_data = JSON.parse('<%- disasters %>')
    document.querySelector('#fema-disasters-filter-submit').addEventListener('click', function () {
      submit()
    })

    function submit() {
      let startDate = document.getElementById("start-date").value
      let endDate = document.getElementById("end-date").value
      let disasterType = document.getElementById("fema-disasters-type-select").value
      console.log(startDate > endDate)
      // if endDate and startDate are both provided then only send the request if the endDate is after startDate
      if (endDate && startDate && startDate >= endDate) {
        //create error message
        const endDateErrorMessage = document.createElement('p')
        endDateErrorMessage.innerHTML = 'End date must be after start date'
        endDateErrorMessage.className = "help is-danger"
        endDateErrorMessage.style = "position: absolute;"

        const endDateField = document.getElementById('end-date-field')
        endDateField.appendChild(endDateErrorMessage)
      } else {
        // default filter logic is in backend, will construct every URL based on filters submitted
        // as long as the endDate is later than the startDate for a range
        let url = '/disasters?';
        let startDateURL = startDate ? `start-date=${startDate}` : '';
        let endDateURL = endDate ? `end-date=${endDate}` : '';
        let disasterTypeURL = `type=${disasterType}`;
        // Either the field is filled in or not. Separate out the non-filled URLs
        let validURLs = [];
        [startDateURL, endDateURL, disasterTypeURL].forEach(function (urlFragment) {
          if (urlFragment.length > 0) {
            validURLs.push(urlFragment)
          }
        })
        // each url after the initial ? is joined together by a & 
        // NOTE: Only valid URL fragments (filled in filters) will be joined together
        let queryString = validURLs.join('&');
        console.log(url + queryString)
        document.location = url + queryString;
      }
    }
  </script>

</body>

</html>