<html>
<h1>hi </h1>
<div class="stuff">
  <input type="text" class='url'>
  <input type="submit" onclick="hi()" value="go">
</div>
<script type="text/javascript">
  var local_data = JSON.parse('<%- disasters %>')
  console.log(local_data)

  function hi() {
    let input = document.querySelector(".url")
    console.log(input);
    document.location = '/' + input.value
  }
</script>

</html>